:root {
    --info-med: hsl(204, 71%, 30%);
}

.mws-li {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: italic;
  }

  .mws-r {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .mws-sbi {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: italic;
  }

  .mws-b {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
  }

  .mws-xb {
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }

  .mw-l {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .mw-r {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .mw-b {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .mw-bl {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .mw-li {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .mw-ri {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .mw-bi {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .mw-bli {
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
  }

    /* TYPOGRAPHY */

    p {
    font-size: 1.125rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
    font-family: "Merriweather Serif", serif;
    }

    .info-med {
    color: var(--info-med);
    }

    .delete-button {
      margin-right: 12px;
      size: .5em;
    }

  /* LAYOUT */

  .block {
    display: block;
  }

  div.inline, .inline button {
    display: inline;
    margin-right: 1 em;
  }

  .center-me {
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center; /* vertically center */
  }

  #five-day div h3 {
    font-size: 1.5rem;
    color: var(--info-med)
  }

  .forecast-conditions h3 {
    font-size: 1.5rem;
    color: var(--info-med);
    font-weight: 700;
  }

  .forecast-conditions p {
    font-size: 1.25rem;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 12px;
    color: white;
  }

  div.forecast-conditions p:first-child {
    color: var(--info-med);
  }


  /* SECTION FORMATTING */

  #search-container {
    max-width: 25%;
  }

  .weather-bg {
    background-image: url(../images/WT-body-footer-td.png);
    background-size: cover;
    /* background-position: center; */
  }

  .weather-bg2 {
    background-image: url(../images/WT-earth-footer-td.jpg);
    background-size: cover;
    background-position: center;
    /* background-position: center; */
  }

  .bottom-bg {
    background-position: bottom;
  }

  .tile {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tile-bright {
    background-color: rgba(255, 255, 255, 1.0);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .tile-dark {
    background-color: rgba(42,134,199, 0.8);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .details {
    border-style: solid;
    border-width: 2px;
    border-color:deepskyblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  /* Interface Elements */

  .dropdown-arrow {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="%23333" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><polyline points="6 9 12 15 18 9"/></svg>');
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px; /* Adjust as needed */
  }
  